<div class="container-fluid mt-4">
    <div class="card card-primary">
        <div class="card-header text-center">
            <h3 class="text-primary">El usuario no se encuentra registrado en nuestro sistema</h3>
            
            <hr />

            <div>
                <a asp-controller="Search" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>


