<div class="alert alert-primary mt-5" role="alert">
    Tu PQRS ha sido enviado satisfactoriamente, muchas gracias por tu aporte
</div>
    <a asp-area="Client" asp-controller="Home" asp-action="Index">Ir a Inicio</a>
