@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container" style="margin-top:100px; margin-left:10px">
    <div class="row col-12 " >
        <div class="col-md-6 border rounded">
            <div class="col-md-12 px-4 mt-4">
                <form id="account" method="post">
                    <h2>Iniciar sesión</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Correo electrónico</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Contraseña</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Iniciar</button>
                    </div>
                    <div class="mt-3">
                        <p style="text-align:center">
                            <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>













@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
