html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.toast-success {
    background-color: #52BE80 !important; /* Cambia el color a verde */
    color: #FFFFFF !important; /* Cambia el color del texto a blanco */
}

/* Estilos para la tabla DataTables */

/* Cambia el color de fondo de las celdas */
table.dataTable tbody td {
    background-color: #f9f9f9 !important; /* Cambia el color de fondo de las celdas */
}

/* Cambia el color del texto de las celdas */
table.dataTable tbody td {
    color: #333 !important; /* Cambia el color del texto de las celdas */
}

@media screen and (max-width: 670px) {
    #tblUsers, #tblSupplier {
    width: 100%; /* Establece el ancho que desees para dispositivos móviles */
    }
}

.filaOscura {
    background-color: #333333; /* Cambia el color oscuro según tus preferencias */
    color: #ffffff; /* Cambia el color del texto según tus preferencias */
}

.filaClara {
    background-color: #ffffff; /* Cambia el color claro según tus preferencias */
    color: #000000; /* Cambia el color del texto según tus preferencias */
}

.sliderContainer {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.imagen-fondo {
    width: 100%;
    height: 100%;
    background-size: cover; /* o contain, según tus necesidades */
    background-position: center;
}

.containerHome {
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.imageHome {
    width: 400px;
    height: 300px;
}

@media screen and (max-width: 767px) {
    .sliderContainer {
        width: 100%; /* Cambia el ancho del contenedor para dispositivos móviles */
        height: 200px; /* Cambia la altura si es necesario */
    }

    .imagen-fondo {
        margin-top:10px;
        width: 100%;
        height: 100%;
        background-size: cover; /* o contain, según tus necesidades */
        background-position: center;
    }

    .containerHome {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .imageHome {
        width: 100%;
        height: 200px;
    }
}



